
/**
 * @file
 * CSS Stylesheet for No Koala! theme by Ross Kendall.
 * 
 */

/*
Copyright (C) 2006  Ross Kendall - http://rosskendall.com

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
http://www.gnu.org/copyleft/gpl.html
*/

body {
  color: #333;
  background-color: white;
  font-size: 80%;
  font-family: Verdana, Arial, Sans-Serif;
  margin: 0;
  padding: 0;
}

table, td, input, select { font-size: 1em; }

a {
  color: #7a9318;
}

h1 a, h2 a, h3 a {
  color: #88a31b;
}


#skip {
  display: none;
}

#drop-shadow-top{
  height: 20px;
  background: white url(images/drop-shadow-top-774x7.png) no-repeat bottom center;
}

#drop-shadow-sides{
  /*width: 100%;*/
  background: white url(images/drop-shadow-sides-774x7.png) repeat-y top center;
}

#container {
  color: #333;
  background-color: white;
  width: 760px;
  margin: 0 auto;
}

#header {
  color: #333;
  background-color: #a1c21c;
  padding: 0 60px 0 125px;
  height: 100px;
  position: relative;
}

#logo {
  position: absolute;
  top: 20px;
  left: 40px;
}

#site-name {
  font-weight: normal;
  font-size: 2.6em;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

#site-name img {
  border: none;
  margin-top: 28px;
}

#site-name a {
  color: white;
  text-decoration: none;
}

#site-description {
  font-size: 1em;
}

#search {
  position: absolute;
  bottom: 20px;
  right: 60px;
}

#nav h2.title {
  display: none;
}

/**
 * CSS dropdown menu inspired by Son of Suckerfish...
 * http://www.htmldog.com/articles/suckerfish/dropdowns/
 * http://www.alistapart.com/articles/horizdropdowns
 */
#nav ul.menu { /* top level ul */
  padding: 0 0 0 105px;
  margin: 0;
  list-style: none;
  height: 1.6em;
  background-color: #666;
} 

#nav a {
  display: block;
  padding: 0 20px;
  margin: 0;
  line-height: 1.6em;
  color: white;
  background-color: #666;
  text-decoration: none;
}

#nav a:hover {
  color: white;
  background-color: #333;
  text-decoration: underline;
}

#nav a.active {
  text-decoration: none;
  background-color: #333;
}

#nav li {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  /*width: 10em;/* fixed width works better, but looks ugly */
}

/* second-level lists */

#nav ul.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#nav li ul {
  position: absolute;
  width: 13.8em; 
  left: -999em; /* to hide menus because display: none isn't read by screen readers */
}

#nav li li {
  float: left;
  width: 13.8em;
}

#nav li ul a {
  padding: 0.1em 0 0.2em 0.8em;
  width: 13em;
  line-height: normal;
  color: white;
  background-color: #777;
  border-bottom: 1px solid #555;
}

#nav li ul a:hover {
  color: white;
  background-color: #444;
}

#nav li ul ul {
  margin: -1.3em 0 0 14em;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
  left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
  left: auto;
}
/* end of the menu stuff */


#leftcol {
  position: absolute;
  left: 5px;
  top: 145px;
  background-color: #eee;
}

#maincol {
  padding: 20px 60px 60px 125px;
}

#mission {
  color: #666;
  background-color: white;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #666;
  margin-bottom: 20px;
  font-style: normal;
  font-size: 1em;
}

.thumbnail {
  border: 1px solid #7a9318;
}
.feed-item-categories {
  display: none;
}
.feed-description {
  display: none;
}

#footer {
  padding: 0.3em 60px 0.3em 125px;
  color: #ccc;
  background-color: #666;
  font-size:  0.85em;
}
#footer a {
  color: white;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}

#drop-shadow-bottom {
  height: 20px;
  background: white url(images/drop-shadow-bottom-774x7.png) no-repeat top center;
  width: 774px;
  margin: 0 auto;
}

/* Thanks for any (optional) credit */
#credit {
  color: #666;
  padding-right: 7px;
  text-align: right;
  font-size:  0.75em;
}
#credit a {
  text-decoration: none;
}
#credit a:hover {
  text-decoration: underline;
}

